@import "colors"
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap')


*
    box-sizing: border-box

body
    background-color: $bgc
    font-family: 'Roboto', sans-serif

.container
    max-width: 1170px
    width: 96%
    margin: auto
    @media (max-width: 640px)
        width: 90%
   
.navbar
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 60px
    display: flex
    justify-content: right
    align-items: center
    transition: 0.4s ease-out
    padding: 20px 0
    z-index: 100000
    background: $nav
    font-family: 'IBM Plex Mono', monospace

    a
        text-decoration: none
        color: $text
            

    .nav-links
        display: flex
        list-style: none
        font-size: 15px
        padding-right: 200px

        .nav-link
            a
            margin-right: 4rem


.main
    &-block
        display: flex
        padding: 180px 0 15px 0
        
    &-text
        flex-basis: 50%
        color: $text
        
        &__title
            font-family: 'IBM Plex Mono', monospace
            line-height: 55px
            margin: 45px 0 20px 0
            font-size: 40px

        &__notice
            line-height: 20px
            display: block
            margin-bottom: 30px

        &__button
            padding: 4px 60px
            color: $text
            background-color: $button
            border: none
            &:hover
                background-color: darken($button, 5%)
                cursor: pointer

    &-image
        margin-left: 200px
        
        .woman
            width: 213px
            height: 327px
           
           
            
        
  